@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f9f9f9;
}

.dark body {
	background-color: #121216;
}

aside div:has(> .router-link-exact-active):not(#logo) {
	color: #ca2a36;
	background-color: #ccc;
	border-left: 5px solid #ca2a36;
}

.dark aside div:has(> .router-link-exact-active):not(#logo) {
	background-color: #141418;
}
